<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5fc475a1fa138f1a30d58140e7505b75 {
                    position: center;
                    width: 800.0px;
                    height: 400.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_5fc475a1fa138f1a30d58140e7505b75" ></div>
        
</body>
<script>
    
    
            var map_5fc475a1fa138f1a30d58140e7505b75 = L.map(
                "map_5fc475a1fa138f1a30d58140e7505b75",
                {
                    center: [-20.719641, -47.887951],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3c7528dfbeef46eb7ee4ee40892dc775 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5fc475a1fa138f1a30d58140e7505b75);
        
    
            var marker_565a2b3c2e332d9a24a21807e6d5b170 = L.marker(
                [-20.71962, -47.88474755209295],
                {}
            ).addTo(map_5fc475a1fa138f1a30d58140e7505b75);
        
    
        var popup_33603d56436a8db8e8254d0f513ce776 = L.popup({"maxWidth": 1000});

        
            
                var html_87847c23fcb88793a10c15a08b75f7bd = $(`<div id="html_87847c23fcb88793a10c15a08b75f7bd" style="width: 100.0%; height: 100.0%;">|Situação: Concluída |Descrição: Geladeira |Endereço: Prefeitura Municipal de Orlandia |Telefone: (16) 99316-2959 |Dia: Domingo</div>`)[0];
                popup_33603d56436a8db8e8254d0f513ce776.setContent(html_87847c23fcb88793a10c15a08b75f7bd);
            
        

        marker_565a2b3c2e332d9a24a21807e6d5b170.bindPopup(popup_33603d56436a8db8e8254d0f513ce776)
        ;

        
    
    
            marker_565a2b3c2e332d9a24a21807e6d5b170.bindTooltip(
                `<div>
                     Geladeira
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_be694d021e75efe8461adf84948ac3fd = L.marker(
                [-20.7198756, -47.8860481],
                {}
            ).addTo(map_5fc475a1fa138f1a30d58140e7505b75);
        
    
        var popup_1ec5708fd46262ac0764cc8f3f9bfd5d = L.popup({"maxWidth": 1000});

        
            
                var html_9c75687e40ee7cac7266ab8505c595aa = $(`<div id="html_9c75687e40ee7cac7266ab8505c595aa" style="width: 100.0%; height: 100.0%;">|Situação: Concluída |Descrição: Computador |Endereço: Rua Quatro, 520 - Centro |Telefone: (34) 99889-2822 |Dia: Quinta-feira</div>`)[0];
                popup_1ec5708fd46262ac0764cc8f3f9bfd5d.setContent(html_9c75687e40ee7cac7266ab8505c595aa);
            
        

        marker_be694d021e75efe8461adf84948ac3fd.bindPopup(popup_1ec5708fd46262ac0764cc8f3f9bfd5d)
        ;

        
    
    
            marker_be694d021e75efe8461adf84948ac3fd.bindTooltip(
                `<div>
                     Computador
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d1b725b3320bcf13d8bfea115efbde0 = L.marker(
                [-20.71536215, -47.89092688752649],
                {}
            ).addTo(map_5fc475a1fa138f1a30d58140e7505b75);
        
    
        var popup_a09b0dd1ad6d4aa982bb366ca425188f = L.popup({"maxWidth": 1000});

        
            
                var html_3787023bb9779f9e54a73e3cfcba3749 = $(`<div id="html_3787023bb9779f9e54a73e3cfcba3749" style="width: 100.0%; height: 100.0%;">|Situação: Em andamento |Descrição: Forno |Endereço: ETEC Prof. Alcídio de Souza Prado - Centro |Telefone: (16) 99988-0774 |Dia: Segunda-feira</div>`)[0];
                popup_a09b0dd1ad6d4aa982bb366ca425188f.setContent(html_3787023bb9779f9e54a73e3cfcba3749);
            
        

        marker_1d1b725b3320bcf13d8bfea115efbde0.bindPopup(popup_a09b0dd1ad6d4aa982bb366ca425188f)
        ;

        
    
    
            marker_1d1b725b3320bcf13d8bfea115efbde0.bindTooltip(
                `<div>
                     Forno
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e82a680f64bbe584145db284ae3ba6b4 = L.marker(
                [-20.7087816, -47.8987049],
                {}
            ).addTo(map_5fc475a1fa138f1a30d58140e7505b75);
        
    
        var popup_5525424fe774060fb200af5cf7b7df73 = L.popup({"maxWidth": 1000});

        
            
                var html_8d0b875e9445f8f177aad0698e9a1235 = $(`<div id="html_8d0b875e9445f8f177aad0698e9a1235" style="width: 100.0%; height: 100.0%;">|Situação: Cancelada |Descrição: Micro-ondas |Endereço: Rua Vinte e Seis, 1494 - Jardim Cidade Alta |Telefone: (16) 99214-5034 |Dia: Terça-feira</div>`)[0];
                popup_5525424fe774060fb200af5cf7b7df73.setContent(html_8d0b875e9445f8f177aad0698e9a1235);
            
        

        marker_e82a680f64bbe584145db284ae3ba6b4.bindPopup(popup_5525424fe774060fb200af5cf7b7df73)
        ;

        
    
    
            marker_e82a680f64bbe584145db284ae3ba6b4.bindTooltip(
                `<div>
                     Micro-ondas
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>
