<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fce87997dad54d0cdb59c2b42d5de491 {
                    position: center;
                    width: 800.0px;
                    height: 400.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fce87997dad54d0cdb59c2b42d5de491" ></div>
        
</body>
<script>
    
    
            var map_fce87997dad54d0cdb59c2b42d5de491 = L.map(
                "map_fce87997dad54d0cdb59c2b42d5de491",
                {
                    center: [-20.719641, -47.887951],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7ea8f47d4b7a324878f861f3a3c8e861 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fce87997dad54d0cdb59c2b42d5de491);
        
    
            var marker_ce83c4950db7f7c7f566dd8ac4d909c3 = L.marker(
                [-20.71962, -47.88474755209295],
                {}
            ).addTo(map_fce87997dad54d0cdb59c2b42d5de491);
        
    
        var popup_01cb30cd53e636b2ebea705c66a02974 = L.popup({"maxWidth": 1000});

        
            
                var html_802e0cd2e20acc61353f99e178080618 = $(`<div id="html_802e0cd2e20acc61353f99e178080618" style="width: 100.0%; height: 100.0%;">  Descrição: Geladeira  Endereço: Prefeitura Municipal de Orlandia  Telefone: (16) 99316-2959  Dia: Domingo</div>`)[0];
                popup_01cb30cd53e636b2ebea705c66a02974.setContent(html_802e0cd2e20acc61353f99e178080618);
            
        

        marker_ce83c4950db7f7c7f566dd8ac4d909c3.bindPopup(popup_01cb30cd53e636b2ebea705c66a02974)
        ;

        
    
    
            marker_ce83c4950db7f7c7f566dd8ac4d909c3.bindTooltip(
                `<div>
                     Geladeira
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_abfa639a1b0d7397f39c300227827f60 = L.marker(
                [-20.7198756, -47.8860481],
                {}
            ).addTo(map_fce87997dad54d0cdb59c2b42d5de491);
        
    
        var popup_476685c7f2c7ccd7c97d506035c71380 = L.popup({"maxWidth": 1000});

        
            
                var html_4ac628bf30ca0b53a9c13d1dea65aa29 = $(`<div id="html_4ac628bf30ca0b53a9c13d1dea65aa29" style="width: 100.0%; height: 100.0%;">  Descrição: Computador  Endereço: Rua Quatro, 520 - Centro  Telefone: (34) 99889-2822  Dia: Quinta-feira</div>`)[0];
                popup_476685c7f2c7ccd7c97d506035c71380.setContent(html_4ac628bf30ca0b53a9c13d1dea65aa29);
            
        

        marker_abfa639a1b0d7397f39c300227827f60.bindPopup(popup_476685c7f2c7ccd7c97d506035c71380)
        ;

        
    
    
            marker_abfa639a1b0d7397f39c300227827f60.bindTooltip(
                `<div>
                     Computador
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bf89869d749980ae2c1b5940cebe48f1 = L.marker(
                [-20.71536215, -47.89092688752649],
                {}
            ).addTo(map_fce87997dad54d0cdb59c2b42d5de491);
        
    
        var popup_e898f656b85741fe0b9bee904428e556 = L.popup({"maxWidth": 1000});

        
            
                var html_be21c570bbdf4252f1331e5eb093d341 = $(`<div id="html_be21c570bbdf4252f1331e5eb093d341" style="width: 100.0%; height: 100.0%;">  Descrição: Forno  Endereço: ETEC Prof. Alcídio de Souza Prado - Centro  Telefone: (16) 99988-0774  Dia: Segunda-feira</div>`)[0];
                popup_e898f656b85741fe0b9bee904428e556.setContent(html_be21c570bbdf4252f1331e5eb093d341);
            
        

        marker_bf89869d749980ae2c1b5940cebe48f1.bindPopup(popup_e898f656b85741fe0b9bee904428e556)
        ;

        
    
    
            marker_bf89869d749980ae2c1b5940cebe48f1.bindTooltip(
                `<div>
                     Forno
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_05691948999e1f5156ac21571fe7935f = L.marker(
                [-20.7087816, -47.8987049],
                {}
            ).addTo(map_fce87997dad54d0cdb59c2b42d5de491);
        
    
        var popup_a8e2e2afaf672dd4ac13dbce5a240795 = L.popup({"maxWidth": 1000});

        
            
                var html_b1d7f5905543282b49f97286d24ef2c2 = $(`<div id="html_b1d7f5905543282b49f97286d24ef2c2" style="width: 100.0%; height: 100.0%;">  Descrição: Micro-ondas  Endereço: Rua Vinte e Seis, 1494 - Jardim Cidade Alta  Telefone: (16) 99214-5034  Dia: Terça-feira</div>`)[0];
                popup_a8e2e2afaf672dd4ac13dbce5a240795.setContent(html_b1d7f5905543282b49f97286d24ef2c2);
            
        

        marker_05691948999e1f5156ac21571fe7935f.bindPopup(popup_a8e2e2afaf672dd4ac13dbce5a240795)
        ;

        
    
    
            marker_05691948999e1f5156ac21571fe7935f.bindTooltip(
                `<div>
                     Micro-ondas
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>